<%= form_for(@movie, :html => {:class => "add_movie_form"}) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @fetched_movies != nil %>
    <h3> Click the button for saving </h3>
    <% @fetched_movies.each do |movie| %>
      <%= submit_tag  'Add Movie', :name => 'save' ,:id => 'submit_movie',:class => "btn" %><%= link_to movie.title, '#',  :class => 'movie_fetched' ,:id => movie.id %>
      <br/>
      <br/>
    <% end %>
    <%= hidden_field_tag :imdb_id %>
  <% else %>

    <div class="clearfix">
      <%= f.label :title %>
      <div class="input">
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :imdb_id %>
      <div class="input">
        <%= f.text_field :imdb_id %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
