
<%= sortable "title" %>
<%= sortable "year" %>
<%= sortable "created_at","Date Added" %>
<%= sortable "imdb_rating" %>
<%= sortable "my_rating" %>
<br />

<div class="hero-unit">
  <ul id="nav">
    <% @movies.each do |movie| %>
      <li>
        <div class="movie-block-index">
          <%= link_to image_tag("posters/#{movie.imdb_id}_small.jpg" , :border => 0 ,:width => 130, :height => 200) , movie ,{:title => movie.title }%>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<%= will_paginate @movies %>
