
<%= sortable "title" %>
<%= sortable "year" %>
<%= sortable "created_at","Date Added" %>
<%= sortable "imdb_rating" %>
<%= sortable "my_rating" %>
<br />

<div class="hero-unit">
  <ul id="nav">
    <% @movies.each do |movie| %>
      <% if movie.director %>
        <li>
          <div class="movie-block-index">
            <%#= link_to image_tag("posters/#{movie.imdb_id}_small.jpg" , :border => 0 ,:width => 135, :height => 200) , movie ,{:id => "a-block", :class=>"image-hover-over" }%>
            <%= link_to image_tag(movie.poster_1 , :border => 0 ,:width => 135, :height => 200) , movie ,{:id => "a-block", :class=>"image-hover-over" }%>
          </div>
          <%= link_to truncate(movie.title, :length => 22, :omission => '...') ,movie ,params.merge(:sort => params[:sort])%>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= will_paginate @movies, :inner_window => 2, :outer_window => 2 %>
