<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @movie_detail.movie_id %>
</p>

<p>
  <b>Cast members:</b>
  <%= @movie_detail.cast_members %>
</p>

<p>
  <b>Director:</b>
  <%= @movie_detail.director %>
</p>

<p>
  <b>Genres:</b>
  <%= @movie_detail.genres %>
</p>

<p>
  <b>Languages:</b>
  <%= @movie_detail.languages %>
</p>

<p>
  <b>Length:</b>
  <%= @movie_detail.length %>
</p>

<p>
  <b>Plot:</b>
  <%= @movie_detail.plot %>
</p>

<p>
  <b>Poster:</b>
  <%= @movie_detail.poster %>
</p>

<p>
  <b>Imdb ratings:</b>
  <%= @movie_detail.imdb_ratings %>
</p>

<p>
  <b>My ratings:</b>
  <%= @movie_detail.my_ratings %>
</p>

<p>
  <b>Tagline:</b>
  <%= @movie_detail.tagline %>
</p>

<p>
  <b>Trailer url:</b>
  <%= @movie_detail.trailer_url %>
</p>

<p>
  <b>Year:</b>
  <%= @movie_detail.year %>
</p>


<%= link_to 'Edit', edit_movie_detail_path(@movie_detail) %> |
<%= link_to 'Back', movie_details_path %>
