<!DOCTYPE html>
<html>
  <head>
    <title>JusT's Movie Manager</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
            <%= link_to "Movie Manager",movies_path ,:class => "brand" %>
          <ul class="nav">
            <li class="active"><%= link_to "Home",movies_path %></li>
            <li><a href="#about">About</a></li>
            <li><%= link_to "Add Movies", new_movie_path %></li>
          </ul>          
          <%= form_tag movies_path ,:method => :get, :html => {:class => "pull-left"} do %>
            <%= text_field_tag :search ,params[:search] ,:placeholder => "Search Movie" %>
            <%= submit_tag :search %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
        </div>
      </div>
      <div class="content">
        <%= yield %>

      </div>
      <footer>
        <p>&copy; Company 2012</p>
      </footer>
    </div>


  </body>
</html>
